body {
  margin-bottom: 100px;
}

h2 {
  border: 2px solid red;
}

.bg-skyblue {
  background-color: skyblue;
}

.pt-2 {
  padding-top: 20px;
}

#main-heading {
  text-align: center;
}

hr {
  margin-bottom: 100px;
}

table {
  border: 1px solid lightsalmon;
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid lightsalmon;
}
