h1 {
  font-size: 100px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 2px dotted black;
  width: 25%;
}

tr:first-child {
  background-color: burlywood;
}

th {
  text-align: left;
}

.flag > div {
  height: 50px;
}

.h-50 {
  height: 50px;
}

.red {
  background-color: red;
}

.white {
  background-color: white;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.black {
  background-color: black;
}

.blue {
  background-color: blue;
}

tr:last-child > td {
  text-align: center;
}

.flag:hover {
  transform: scale(1.3);
}

tr:last-child td:hover {
  background-color: yellowgreen;
}
